
.div-logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}
.logo{
  object-fit: contain;
  animation: scale-exit 1s ease-in-out;
}

.logo-singup{
  animation: scale 1s ease-in-out;
  transform: scale(0.8);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}


@keyframes scale-exit {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}



.required-field::after{
  content: "*";
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 5px;
  color: red;
}

.svg-log{
  filter: blur(15px); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.mynav{
  height: 100%;
  width: 50px!important;
}