html{
  overflow-x: hidden;
}


.div-logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}
.logo{
  object-fit: contain;
  animation: scale-exit 1s ease-in-out;
}

.logo-singup{
  animation: scale 1s ease-in-out;
  transform: scale(0.8);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}


@keyframes scale-exit {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}



.required-field::after{
  content: "*";
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 5px;
  color: red;
}

.svg-log{
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.entrypoint{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


.page-container{
  margin-left: 90px;
  padding: 0;
  width: 100%;
  overflow-y: auto;
}


.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}

#menu a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

#menu a:hover{
  background-color: #b4b4b470;
  border-radius: 15px;
}

.headerlogo{
  margin-top: 50px;
  height: 200px!important;
  text-align: center;
}


.headerlogo img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}





.green-check-icon {
  position: absolute;
  top: 10px;
  color: green;
  z-index: 10;
  margin-right: 5px;
}


.title {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}


.main-text {
  font-size: 1.4rem;
  color: #555;
  text-align: center;
  width: 800px;
}


.point-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}


.list-item {
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  border: 2px solid green;
  padding: 20px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbe6c7;

}

.list-item:hover {
  animation: trill 0.3s ease-in-out;
}


@keyframes trill {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


#avatar{
  position: relative;
}

#avatar .status{
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid #fff;
}



.logout{
 background-color: #9595953a;
 padding: 20px;
 border-radius: 15px;
 display: inline-block;
 margin-top: 20px;
}

.logout:hover{
  background-color: #959595;
  cursor: pointer;
}


#field-details {
  position: absolute;
  left: 90px;
  top: 25px;
  width: 400px;
  border-radius: 50px;
  z-index: 10000;
  height: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.087);
  animation: appear 0.3s ease-in-out forwards;
}



@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* Aggiungiamo il CSS per il bottone fisso in basso */
.scrollable-content {
  padding-top: 5px;
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollable-content::-webkit-scrollbar {
  width: 0; /* Nascondi la barra di scorrimento orizzontale e verticale */
  background: transparent; /* Nascondi il background della barra di scorrimento */
}

/* Facoltativamente, nascondi anche i pulsanti di scorrimento */
.scrollable-content::-webkit-scrollbar-thumb {
  display: none;
}
.currentEvent {
  background-color: rgba(2, 57, 2, 0.826);
  color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}

.eventCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  max-height: 90%;
  width: 100%;
}
p{
  margin: 0;
}

.eventBox{
  width: 100%;
}

.accordion-button:focus {
  box-shadow: none;
}


.offcanvas-body{
  width: 110%;
  padding: 0;
}


.chat-item{
  border: 1px solid black;
  padding: 10px;
}

.chat-item p:first-child{
  font-weight: bold;
  font-size: 22px;
}
.chat-item:hover{
  background-color: #eaeaea;
  cursor: pointer;
}


.sender{
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.sender input{
 width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.sender button{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.sender button:hover{
  background-color: #eaeaea;
}