
.div-logo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}
.logo{
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}

.logo-singup{
  transform: scale(0.8);
}


.required-field::after{
  content: "*";
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 5px;
  color: red;
}